.container-heart-section {
  /* border: 10px solid red; */
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.hearts-container {
  /* border: 10px solid blue; */
  width: 100%;
  max-width: 1400px;
  height: 100vh;
  max-height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-animated {
  width: 16px;
  height: 16px;
  display: grid;
  justify-content: center;
  align-content: center;
  animation: moveUp 2.25s infinite;
}

@keyframes moveUp {
  0% {
    transform: scale(0) translateY(0);
    opacity: 0;
  }

  45% {
    transform: scale(1) translateY(-25px);
    opacity: 1;
  }
  60% {
    transform: scale(1) translateY(-25px);
    opacity: 1;
  }

  100% {
    transform: scale(1) translateY(-25px);
    opacity: 0;
  }
}



.heart-animated-11 {
  width: 16px;
  height: 16px;
  display: grid;
  justify-content: center;
  align-content: center;
  animation: moveUp-11 2.25s infinite;
}

@keyframes moveUp-11 {
  0% {
    transform: scale(0) translateY(0);
    opacity: 0;
  }

  45% {
    transform: scale(1) translateY(-25px);
    opacity: 1;
  }
  60% {
    transform: scale(1) translateY(-25px);
    opacity: 1;
  }

  100% {
    transform: scale(1) translateY(-25px);
    opacity: 0;
  }
}

.border-global-11 {
  position: absolute;
  z-index: 0;
  top: 0px;
  width: 48px;
  height: 48px;
  border: 10px solid #00ff40;
  transform: translate(-37%, -42%);
  border-radius: 100%;
  animation: borderheart11 2.25s infinite;
  transition: 0.1.25s;
}

@keyframes borderheart11 {
  0% {
    border: 15px solid #33ff00;
    transform: translate(-35%, -42%) scale(0.5);
    opacity: 0;
  }
  25% {
    border: 15px solid #33ff00;
    transform: translate(-35%, -42%) scale(0.5);
    opacity: 0;
  }
  26% {
    border: 15px solid #33ff00;
    transform: translate(-35%, -42%) scale(0.5);
    opacity: 1;
  }

  60% {
    border: 0px solid #33ff00;
    transform: translate(-35%, -42%) scale(1);
  }

  61% {
    border: 0px solid #33ff00;
    transform: translate(-35%, -42%) scale(1);
  }

  100% {
    border: 0px solid #33ff00;
    opacity: 0;
    transform: translate(-35%, -42%) scale(1);
  }
}

.heart {
  --size: 16px;
  --color: #ff4757;
  box-shadow: -10px -10px 40px #ff4757;
  transform: rotate(45deg);
}

.heart,
.heart::before,
.heart::after {
  width: var(--size);
  height: var(--size);
  background: var(--color);
}
.heart::before,
.heart::after {
  content: "";
  display: block;
  border-radius: 50%;
}
.heart::before {
  margin-top: calc(var(--size) * -0.5);
}
.heart::after {
  margin-top: calc(var(--size) * -0.5);
  margin-left: calc(var(--size) * -0.5);
}

.border-global {
  position: absolute;
  z-index: 0;
  top: 0px;
  width: 48px;
  height: 48px;
  border: 10px solid #ff4757;
  transform: translate(-37%, -42%);
  border-radius: 100%;
  animation: borderheart1 2.25s infinite;
  transition: 0.1.25s;
}

@keyframes borderheart1 {
  0% {
    border: 15px solid #ff4757;
    transform: translate(-35%, -42%) scale(0.5);
    opacity: 0;
  }
  25% {
    border: 15px solid #ff4757;
    transform: translate(-35%, -42%) scale(0.5);
    opacity: 0;
  }
  26% {
    border: 15px solid #ff4757;
    transform: translate(-35%, -42%) scale(0.5);
    opacity: 1;
  }

  60% {
    border: 0px solid #ff4757;
    transform: translate(-35%, -42%) scale(1);
  }

  61% {
    border: 0px solid #ff4757;
    transform: translate(-35%, -42%) scale(1);
  }

  100% {
    border: 0px solid #ff4757;
    opacity: 0;
    transform: translate(-35%, -42%) scale(1);
  }
}

.heart-global-1 {
  position: absolute;
  z-index: 10;
  transform: rotate(-22.5deg) scale(1.5);
  top: 10%;
  left: 10%;
}

.heart-global-2 {
  z-index: 10;
  position: absolute;
  transform: rotate(0deg) scale(1);
  top: 20%;
  left: 22.5%;
}

.heart-global-3 {
  z-index: 10;
  position: absolute;
  transform: rotate(22.5deg) scale(2);
  top: 30%;
  left: 65%;
}

.heart-global-4 {
  z-index: 10;
  position: absolute;
  transform: rotate(22.5deg) scale(1.5);
  top: 10%;
  left: 90%;
}

.heart-global-5 {
  z-index: 10;
  position: absolute;
  transform: rotate(-10deg) scale(0.5);
  top: 30%;
  left: 30%;
}

.heart-global-6 {
  z-index: 10;
  position: absolute;
  transform: rotate(0deg) scale(1);
  top: 40%;
  left: 80%;
}

.heart-global-7 {
  z-index: 10;
  position: absolute;
  transform: rotate(0deg) scale(0.75);
  top: 50%;
  left: 15%;
}

.heart-global-8 {
  z-index: 10;
  position: absolute;
  transform: rotate(22.5deg) scale(0.5);
  top: 60%;
  left: 70%;
}

.heart-global-9 {
  z-index: 10;
  position: absolute;
  transform: rotate(-10deg) scale(2);
  top: 70%;
  left: 25%;
}

.heart-global-10 {
  z-index: 10;
  position: absolute;
  transform: rotate(10deg) scale(2);
  top: 80%;
  left: 80%;
}

.heart-global-11 {
  z-index: 10;
  position: absolute;
  transform: rotate(10deg) scale(1);
  top: 90%;
  left: 10%;
}

.text-heart {
  width: 100%;
  /* border: 10px solid green; */
  font-size: 36px;
  font-weight: 700;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px rgb(255, 255, 255);
}

.hearts-view-container {
  min-height: 100vh;
  width: 100%;
}
.heart-section-home {
  height: 100vh;
  width: 100%;
  /* border: 10px solid yellow; */
  background: #000;
  color: white;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-heart {
  overflow-x: hidden;
}

/* Ancho de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 0px; /* Ancho de la barra vertical */
  height: 0px; /* Ancho de la barra horizontal */
}

/* Color de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: rgba(43, 25, 25, 0); /* Cambia a rojo */
  border-radius: 0px; /* Redondea los bordes */
}

/* Fondo detrás de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #f0f0f000; /* Color de fondo de la pista */
}
